# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
POSTGRES_PRISMA_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Next Auth Spotify Provider
SPOTIFY_CLIENT_ID="b6fdcf0e554b4e89a9be906404b3d0e3"
NEXT_PUBLIC_SPOTIFY_CLIENT_ID="b6fdcf0e554b4e89a9be906404b3d0e3"
SPOTIFY_CLIENT_SECRET="b55be30d5c5e4c619d29d31514274cb1"
NEXT_PUBLIC_SPOTIFY_AUTH_CALLBACK_URL="http://localhost:3000/api/reauth"